* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Roboto";
}

ul {
  list-style-type: none;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2750px);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2750px);
  }
}
@-webkit-keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.wrapper {
  max-width: 1642px;
  width: 100%;
  margin: auto;
}
.wrapper .navbar_container {
  position: relative;
  background-color: white;
  height: 75px;
}
.wrapper .navbar_container .navbar {
  width: 100%;
  padding: 0px 20px;
  height: 75px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
}
.wrapper .navbar_container .navbar .logo_container {
  height: 100%;
}
.wrapper .navbar_container .navbar .logo_container img.primary-icon {
  height: 100%;
}
.wrapper .navbar_container .navbar a {
  color: #888;
  text-decoration: none;
}
.wrapper .navbar_container .navbar a:hover {
  color: rgb(30, 30, 157);
}
.wrapper .navbar_container .navbar .nav_list li {
  display: inline-block;
  padding: 20px 10px;
}
.wrapper .navbar_container .navbar .nav_list li:nth-last-child(1) a {
  color: #059fe5;
}
.wrapper .navbar_container .navbar .nav_list li:nth-last-child(1) a:hover {
  color: rgb(30, 30, 157);
}
.wrapper .navbar_container .navbar .menu_button {
  display: none;
  color: black;
}
.wrapper .main_container {
  display: block;
  padding: 0px 150px;
  padding-top: 100px;
}
.wrapper .main_container h1.slider_header_text {
  text-align: center;
  text-transform: capitalize;
  font-family: "Poppins";
  margin-bottom: 20px;
  color: #3182c0;
}
.wrapper .main_container .slider_container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  margin-bottom: 100px;
}
.wrapper .main_container .slider_container .slider_section {
  height: 200px;
  height: 120px;
  width: 3440px;
  border: 1px solid #eee;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
}
.wrapper .main_container .slider_container .slider_section span {
  float: left;
  width: 50%;
}
.wrapper .main_container .slider_container .slider_section .slider--inner {
  display: block;
  width: 200%;
  position: absolute;
  -webkit-animation: marquee 40s linear infinite;
          animation: marquee 40s linear infinite;
}
.wrapper .main_container .slider_container .slider_section .slider--inner:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.wrapper .main_container .slider_container .slider_section .slider--inner span .imgdiv {
  width: 250px;
  height: 100px;
  display: inline-block;
  margin: 0 24.7px;
  transition: all 0.2s ease-out;
  position: relative;
}
.wrapper .main_container .slider_container .slider_section .slider--inner span .imgdiv:hover {
  transform: scale(1.2);
  opacity: 0.5;
  cursor: pointer;
}
.wrapper .main_container .slider_container .slider_section .slider--inner span .imgdiv.hisense {
  background-image: url("../images/brands_logo/hisense_logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.wrapper .main_container .slider_container .slider_section .slider--inner span .imgdiv.lg {
  background-image: url("../images/brands_logo/lg_logo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.wrapper .main_container .slider_container .slider_section .slider--inner span .imgdiv.panasonic {
  background-image: url("../images/brands_logo/panasonic_logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.wrapper .main_container .slider_container .slider_section .slider--inner span .imgdiv.roku {
  background-image: url("../images/brands_logo/roku_logo.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}
.wrapper .main_container .slider_container .slider_section .slider--inner span .imgdiv.samsung {
  background-image: url("../images/brands_logo/samsung_logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.wrapper .main_container .slider_container .slider_section .slider--inner span .imgdiv.sanyo {
  background-image: url("../images/brands_logo/sanyo_logo.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}
.wrapper .main_container .slider_container .slider_section .slider--inner span .imgdiv.toshiba {
  background-image: url("../images/brands_logo/toshiba_logo.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
.wrapper .main_container .slider_container .slider_section .slider--inner span .imgdiv.vizio {
  background-image: url("../images/brands_logo/vizio_logo.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}
.wrapper .main_container .slider_container .slider_section .slider--inner span .imgdiv.dynex {
  background-image: linear-gradient(white, white), url("../images/brands_logo/dynex_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: difference;
}
.wrapper .main_container .slider_container .slider_section .slider--inner span .imgdiv.emerson {
  background-image: url("../images/brands_logo/emerson_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.wrapper .main_container .slider_container .slider_section .slider--inner span .imgdiv.insignia {
  background-image: linear-gradient(white, white), url("../images/brands_logo/Insignia_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: difference;
}
.wrapper .main_container .form_section {
  width: 70%;
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  margin: auto auto 50px;
}
.wrapper .main_container .form_section input {
  flex: auto;
  font-size: 18px;
  padding: 8px 15px;
  border: 1px solid #95959a;
  outline: none;
}
.wrapper .main_container .form_section button {
  min-width: 100px;
  font-size: 18px;
  padding: 8px 15px;
  background-color: #3182c0;
  border: none;
  outline: none;
  font-family: "Roboto";
  color: #e1e1f4;
  text-shadow: 1px 1px 2px #6c6c73;
}
.wrapper .main_container .form_section button:hover {
  background-color: #219ad1;
  color: #e2f1f8;
  text-shadow: 1px 1px 2px #494d4f;
}
.wrapper .main_container .shipment_policy_section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 60px;
  margin: 60px auto;
}
.wrapper .main_container .shipment_policy_section .shipment_section, .wrapper .main_container .shipment_policy_section .policy_section {
  flex: 1;
  min-width: 350px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.wrapper .main_container .shipment_policy_section .shipment_section img {
  height: 80px;
}
.wrapper .main_container .shipment_policy_section .policy_section img {
  height: 120px;
}
.wrapper .main_container .desc_section {
  text-align: center;
}
.wrapper .main_container .desc_section span {
  color: #3182c0;
}
.wrapper .main_container .remotes_container {
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 40px;
}
.wrapper .main_container .remotes_container .remote_box {
  background-color: white;
  border: 1px solid #afaaaa;
  border-radius: 8px;
  width: 320px;
  padding: 15px;
  margin: auto;
  text-align: center;
  box-shadow: 3px 3px 13px 0px #afaaaa;
  font-family: "Poppins";
  color: grey;
}
.wrapper .main_container .remotes_container .remote_box img {
  height: 230px;
  margin-bottom: 20px;
}
.wrapper .main_container .remotes_container .remote_box .brand_logo {
  display: flex;
  justify-content: center;
}
.wrapper .main_container .remotes_container .remote_box .brand_logo img {
  height: 30px;
}
.wrapper .main_container .remotes_container .remote_box .brand_logo img.lg_logo {
  transform: scale(2);
}
.wrapper .main_container .remotes_container .remote_box .brand_logo img.insignia_logo {
  filter: brightness(0.2);
}
.wrapper .main_container .remotes_container .remote_box .brand_logo img.sony_logo {
  filter: brightness(0.4);
}
.wrapper .main_container .remotes_container .remote_box .brand_logo img.dynex_logo {
  filter: brightness(0.4);
}
.wrapper .main_container .remotes_container .remote_box .brand_logo img.emerson_logo {
  transform: scale(2);
}
.wrapper .main_container .remotes_container .remote_box .brand_logo img.panasonic_logo {
  transform: scale(2);
}
.wrapper .main_container .remotes_container .remote_box .universal_remote {
  margin-bottom: 5px;
}
.wrapper .main_container .remotes_container .remote_box .price_text {
  color: rgb(103, 103, 103);
  font-family: "Poppins";
}
.wrapper .main_container .remotes_container .remote_box button {
  margin-top: 10px;
  font-family: "Roboto";
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 15px;
  background-color: #3182c0;
  color: rgb(226, 226, 248);
  border: none;
  outline: none;
  text-shadow: 1px 1px 2px rgb(85, 85, 88);
}
.wrapper .main_container .remotes_container .remote_box button:hover {
  background-color: rgb(53, 53, 186);
  transition: all 0.4s;
}
.wrapper .main_container .safer_solution_section {
  text-align: center;
}
.wrapper .main_container .safer_solution_section h2 {
  text-transform: capitalize;
}
.wrapper .main_container .safer_solution_section img {
  margin: 30px auto;
  width: 100%;
}

@media all and (max-width: 1368px) {
  .wrapper .navbar_container.deactive {
    height: 100vh;
  }
  .wrapper .navbar_container {
    position: relative;
    background-color: white;
    height: 75px;
  }
  .wrapper .navbar_container .navbar {
    position: relative;
    background-color: white;
    width: 100%;
    flex-direction: column;
    height: 75px;
    border-bottom: 1px solid #aaa;
    padding: 0px;
    z-index: 20 !important;
  }
  .wrapper .navbar_container .navbar .menu_button {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .wrapper .navbar_container .navbar .nav_list {
    display: none;
    width: 100%;
  }
  .wrapper .navbar_container .navbar .nav_list li {
    display: block;
    text-align: center;
    padding: 15px 0px;
  }
  .wrapper .navbar_container .navbar .nav_list li:hover {
    text-decoration: underline;
  }
  .wrapper .navbar_container .navbar .nav_list.active {
    display: block;
  }
  .wrapper .main_container.deactive {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */