* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", "Roboto";
}

ul {
    list-style-type: none;
}


$animationSpeed: 10s;

// Animation
@keyframes scrollAnim {
    0% { left: 0; }
    100% { left: -100%; }
  }
.wrapper {
    max-width: 1642px;
    width: 100%;
    margin: auto;
    // background-color: rgb(236, 220, 220);
    .navbar_container {
        position: relative;
        background-color: white;
        height: 75px;
        .navbar {
            width: 100%;
            // background-color: #999;
            padding: 0px 20px;
            height: 75px;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 17px;
            .logo_container {
                height: 100%;
                img.primary-icon {
                    height: 100%;
                }
            }
            a {
                color: #888;
                text-decoration: none;
                &:hover {
                    color: rgb(30, 30, 157);
                }
            }
            .nav_list {
                li {
                    display: inline-block;
                    padding: 20px 10px;
                    &:nth-last-child(1) a {
                        color: #059fe5;
                        &:hover {
                            color: rgb(30, 30, 157);
                        }
                    }
                }    
            }
            .menu_button {
                display: none;
                color: black;
            }        
        }
    }
    .main_container {
        display: block;
        padding: 0px 150px;
        padding-top: 100px;
        h1.slider_header_text {
            text-align: center;
            text-transform: capitalize;
            font-family: "Poppins";
            margin-bottom: 20px;
            color: #3182c0;
        }
        .slider_container {
            width: 100%;
            margin: auto;
            overflow: hidden;
            margin-bottom: 100px;
            box-shadow: 1px 1px 10px 0px #888;
            .slider_section {
                user-select: none;
                height: 200px;
                height: 120px;
                width: 3440px;
                border: 1px solid #eee;
                // border-top: 1px solid rgb(190, 184, 184);
                // border-bottom: 1px solid rgb(190, 184, 184);
                overflow: hidden;
                box-sizing: border-box;
                position: relative;
                display: flex;
                align-items: center;
                span {
                    float: left;
                    width: 50%;
                }
                .slider--inner {
                    display: block;
                    width: 200%;
                    position: absolute;
                    animation: scrollAnim 100s linear infinite;
                    &:hover {
                        animation-play-state: paused;
                    }
                    span {
                        .imgdiv {
                            width: 250px;
                            height: 100px;
                            display: inline-block;
                            margin: 0 24.7px;
                            transition: all .2s ease-out;  
                            position: relative;
                            &:hover {
                                transform: scale(1.2);
                                opacity: .5;
                                cursor: pointer;
                            }
                        }
                        .imgdiv.hisense {
                            background-image: url("../images/brands_logo/hisense_logo.svg");
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                        }
                        .imgdiv.lg {
                            background-image: url("../images/brands_logo/lg_logo.jpg");
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                        }
                        .imgdiv.panasonic {
                            background-image: url("../images/brands_logo/panasonic_logo.svg");
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                        }
                        .imgdiv.roku {
                            background-image: url("../images/brands_logo/roku_logo.svg");
                            background-repeat: no-repeat;
                            background-size: 50%;
                            background-position: center;
                        }
                        .imgdiv.samsung {
                            background-image: url("../images/brands_logo/samsung_logo.svg");
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                        }
                        .imgdiv.sanyo {
                            background-image: url("../images/brands_logo/sanyo_logo.png");
                            background-repeat: no-repeat;
                            background-size: 50%;
                            background-position: center;
                        }
                        .imgdiv.toshiba {
                            background-image: url("../images/brands_logo/toshiba_logo.svg");
                            background-repeat: no-repeat;
                            background-size: 70%;
                            background-position: center;
                        }
                        .imgdiv.vizio {
                            background-image: url("../images/brands_logo/vizio_logo.png");
                            background-repeat: no-repeat;
                            background-size: 60%;
                            background-position: center;
                        }
                        .imgdiv.dynex {
                            background-image: linear-gradient(white, white), url("../images/brands_logo/dynex_logo.svg");
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-blend-mode: difference;
                        }
                        .imgdiv.emerson {
                            background-image: url("../images/brands_logo/emerson_logo.png");
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                        }
                        .imgdiv.insignia {
                            background-image: linear-gradient(white, white), url("../images/brands_logo/Insignia_logo.png");
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-blend-mode: difference;
                        }
                    }
                }
            }
        }
        .form_section {
            width: 70%;
            // background-color: tomato;
            display: flex;
            column-gap: 5px;
            margin: auto auto 50px;
            input {
                flex: auto;
                font-size: 18px;
                padding: 8px 15px;
                border: 1px solid #95959a;
                outline: none;
            }
            button {
                min-width: 100px;
                font-size: 18px;
                padding: 8px 15px;
                background-color: #3182c0;
                border: none;
                outline: none;
                font-family: "Roboto";
                color: #e1e1f4;
                text-shadow: 1px 1px 2px #6c6c73;
                &:hover {
                    background-color: #219ad1;
                    color: #e2f1f8;
                    text-shadow: 1px 1px 2px #494d4f;
                }
            }
        }
        .shipment_policy_section {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            column-gap: 30px;
            row-gap: 60px;
            // height: 200px;
            margin: 60px auto;
            // background-color: orange;
            .shipment_section, .policy_section {
                // background-color: green;
                flex: 1;
                min-width: 350px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 10px;
            }
            .shipment_section {
                img {
                    height: 80px;
                }
            }
            .policy_section {
                img {
                    height: 120px;
                }
            }
        }
        .desc_section {
            text-align: center;
            span {
                color: #3182c0;
            }
        }
        .remotes_container {
            margin: 100px auto;
            // background-color: orangered;
            // padding: 0px 20px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            column-gap: 20px;
            row-gap: 40px;
            .remote_box {
                background-color: white;
                border: 1px solid #afaaaa;
                border-radius: 8px;
                width: 320px;
                // height: 430px;
                padding: 15px;
                margin: auto;
                text-align: center;
                box-shadow: 3px 3px 13px 0px #afaaaa;
                font-family: "Poppins";
                color: grey;
                img {
                    height: 230px;
                    margin-bottom: 20px;
                }
                .brand_logo {
                    // background-color: #219ad1;
                    display: flex;
                    justify-content: center;
                    img {
                        height: 30px;
                    }
                    img.lg_logo {
                        transform: scale(2);
                    }
                    img.insignia_logo {
                        filter: brightness(0.2);
                    }
                    img.sony_logo {
                        filter: brightness(0.4);
                    }
                    img.dynex_logo {
                        filter: brightness(0.4);
                    }
                    img.emerson_logo {
                        transform: scale(2);
                    }
                    img.panasonic_logo {
                        transform: scale(2);
                    }
                }
                .universal_remote {
                    margin-bottom: 5px;
                }
                .price_text {
                    color: rgb(103, 103, 103);
                    font-family: "Poppins";
                }
                button {
                    margin-top: 10px;
                    font-family: "Roboto";
                    font-weight: bold;
                    cursor: pointer;
                    font-size: 16px;
                    padding: 8px 15px;
                    background-color: #3182c0;
                    color: rgb(226, 226, 248);
                    border: none;
                    outline: none;
                    text-shadow: 1px 1px 2px rgb(85, 85, 88);
                    &:hover {
                        background-color: #219ad1;
                        color: #e2f1f8;
                        text-shadow: 1px 1px 2px #494d4f;
                    }
                }
            }
        }
        .safer_solution_section {
            text-align: center;
            h2 {text-transform: capitalize;}
            img {
                margin: 30px auto;
                width: 100%;
            }
        }
    }
}



@media all and (max-width: 1024px) {
    .wrapper {
        .main_container {padding: 0px 10px;}
    }
}

@media all and (max-width: 1368px) {
    .wrapper {
        .navbar_container.deactive {
            height: 100vh;
        }
        .navbar_container {
            position: relative;
            background-color: white;
            height: 75px;
            .navbar {
                position: relative;
                background-color: white;
                width: 100%;
                flex-direction: column;
                height: 75px;
                border-bottom: 1px solid #aaa;
                padding: 0px;
                z-index: 20 !important;
                .menu_button {
                    display: block;
                    position: absolute;
                    right: 15px;
                    top: 15px;
                }
                .nav_list {
                    display: none;
                    width: 100%;
                    li {
                        display: block;
                        text-align: center;
                        // margin: 5px auto;
                        padding: 15px 0px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .nav_list.active {
                    display: block;
                }
            }
        }
        .main_container.deactive {display: none;}
    }
}